.playlistPadding
{
padding-top: 20px !important;
}

.playlistButton
{
padding-top: 50px !important;
}

.songList
{
    width: 250px !important;
    height: 150px !important;
    border: 1px solid #bbb;
}