.song-block-not-clicked {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
}

.song-block-clicked {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(43, 117, 244);
    background-color: rgb(89, 173, 247);
}